
<html>
    <header></header>
    <body>
        <h1>My FastAPI App</h1>
        <p>Welcome to my FastAPI app!</p>
        <p>This is a simple FastAPI application with a basic student management system.</p>
        <p>There is router layer, service layer and DB layer with SQLAlchemy</p>
        <p>The purpose of this project is to show Separation of Concerns in Fast API</p>
        <br>
        <p>Click on the link below to see the students page:  </p>
        <ul>
            
            <li><a href="/students/getallstudents">View All Students</a></li>
            
        </ul>
    </body>
</html>